bs4
cheroot
cryptography
filelock
python-jose
markdown>=3
mpmath
ply
uwsgi
websockets
lxml
pylti
oauthlib
unidecode
pymongo
waitress==2.1.2
werkzeug==2.3.7
markdown2==2.4.10
pygments==2.16.1
python-markdown-math==0.8
beautifulsoup4==4.12.2
chevron==0.14.0
matplotlib==3.7.2
numpy==1.25.2
sympy==1.12
